<!doctype html>
<html lang="en">
{% extends "partials/conteneur.html" %}

{% block body %} 
<body>
  <p>This site is devoted to the study of the flores Almagesti, one of the major astronomical text of renaissance. It aims to develop usefull visualisation 
    to better understand the diagramm it contains in an interactive way </p>
  <p>This project was developped by intern of the  <a
    href=https://eida-hypotheses-org.translate.goog/?_x_tr_sl=en&_x_tr_tl=fr&_x_tr_hl=fr&_x_tr_pto=sc/>Eida</a> team</p>    
    <img src="{{url_for('static', filename='img/Flores_images/wit226_pdf358_037_109,1031,1338,1129.jpg')}}" alt="Diagramme">
</body>
{% endblock %}
