<!doctype html>
<html lang="en">
{% extends "partials/conteneur.html" %}

{% block body %} 
<body>
  <p>Un site consacré a l'étude de l'almageste de Flores un des textes majeurs de l'astronomie de la renaissances. Venez decouvrir ses nombreux mystere</p>
  <p>Voici le lien vers notre laboratoire : <a
    href=https://alfa.obspm.fr/>https://alfa.obspm.fr/</a></p>    
    <img src="{{url_for('static', filename='img/Flores_images/wit226_pdf358_037_109,1031,1338,1129.jpg')}}" alt="Diagramme">
</body>
{% endblock %}
