<!doctype html>
{% extends "partials/conteneur.html" %}

{% block body %} 
<nav aria-label="research-pagination">
    {% include "partials/paginateur.html" %}
</nav>
<div class="container"> 
{%if pagination%}
    <table class="table">
        <thead>
               <tr>
                   <th scope="col"></th>
                   <th scope="col">name</th>
                   <th scope="col">id</th>
                   <th scope="col">minimal date</th>
                   <th scope="col">maximal date</th>
                   <th scope="col">Conservation Place</th>
                   <th scope="col">Title</th>
                   <th scope="col">Image</th>
               </tr>
           </thead>
           <tbody>
               {%for diagram in pagination.items%}
               <tr>
                   <th scope="row">{{loop.index}}</th>
                   <td>{{diagram.img_name}}</td>
                   <td>{{diagram.id}}</td>
                   <td>{{diagram.date_min}}</td>
                   <td>{{diagram.date_max}}</td>
                   <td>{{diagram.Cons_place}}</td>
                   <td>{{diagram.Manuscript_name}}</td>
                   <td><img src="{{url_for('static', filename='img/Flores_images/'+diagram.img_name)}}" alt="Diagramme"></td>
                </tr>
               {%endfor%}
            </tbody>
     </table>
{%endif%}
{% endblock %}