<!doctype html>
<html lang="en">
<head>
</head>
{% extends "partials/conteneur.html" %}
{% block body %} 
<body>
  {%for i in donnees %}
    <input type="checkbox" id="{{i.id}}" >
    <label for="{{i.id}}" class="update_checkbox">{{i.id}}</label> 
  {%endfor%}
  <div>
  {%for i in ['Eclipse', 'Menelaus', 'Planet', 'Sun', 'Moon', 'Geometry', 'Algebra'] %}
    <input type="checkbox" id="{{i}}" >
    <label for="{{i}}" class="update_checkbox">{{i}}</label> 
  {%endfor%}
  </div>
    <script src="{{url_for('static', filename='js/sandbox.js')}}"></script>
</body>
{% endblock %}