<!doctype html>
<html lang="en">
<head>
</head>
{% extends "partials/conteneur.html" %}
{% block body %} 

<body>
    <p class="visubar"> Sort by </p>
    <select id="select_1">
      <option value="start_1">Property 1</option>
      <option value="witness_1">Witness</option>
      <option value="date_1">Date</option>
      <option value="place_1">Place</option>
    </select>
    <select id="select_2">
      <option value="start_2">Property 2</option>
      <option value="witness_2">Witness</option>
      <option value="date_2">Date</option>
      <option value="place_2">Place</option>
    </select>
    <p class="visubar" id="slider_value">Value: <span id="demo"></span></p>  
    <input type="range" min="1401" max="1550" value="1401" class="slider" id="myRange">
    {%for i in donnees %}
      <input type="checkbox" id="{{i.id}}" class="update_checkbox">
      <label for="{{i.id}}">{{i.id}}</label> 
    {%endfor%}
    <div id="content">
        <svg height="800px" width="1600px">
          <g class="map"></g>
        </svg>
    </div>
    
    <script src="{{url_for('static', filename='js/Graph.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='js/place.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='js/witness.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='js/place_date.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='js/place_witness.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='js/load_map.js')}}" type="module"></script>

</body>
{% endblock %}

