<!doctype html>
<html lang="en">
{% extends "partials/conteneur.html" %}
{% block body %} 
<head>
</head>
<body>
    <p class="visubar"> Sort by </p>
    <select id="select_1">
      <option value="start_1">Property 1</option>
      <option value="witness_1">Witness</option>
      <option value="date_1">Date</option>
      <option value="place_1">Place</option>
    </select>
    <select id="select_2">
      <option value="start_2">Property 2</option>
      <option value="witness_2">Witness</option>
      <option value="date_2">Date</option>
      <option value="place_2">Place</option>
    </select>
    <div id="content">
        <svg height="800px" width="1600px">
          <g class="map"></g>
        </svg>
    </div>
    <script src="{{url_for('static', filename='js/Graph.js')}}"></script>
</body>
{% endblock %}

