body {
  background-color: #e7bc7b;
  margin-left: 220px;
  text-decoration: none;
}

h1 {
  color: #001f3f;
  text-align: center;
  font-family: Fondamento;
}

table {
  width: 100%;
  border: 1px solid;
}

td,
th {
  text-align: center;
  border: 1px solid;
}

.sidenav {
  height: 100%;
  width: 220px;
  text-decoration: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #001f3f;
  overflow-x: hidden;
  color: #ffd700;
}

td,
th {
  text-align: center;
  border: 1px solid;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

a {
  text-decoration: none;
  color: #ffd700;
  font-weight: 900;
}

.btn {
  background-color: #001f3f;
  color: #e7bc7b;
  border: 0px;
  font-size: 16px;
  padding: 16px;
  border: none;
}

ul {
  list-style-type: none;
  text-align: center;
  padding-right: 20px;
}

ul li {
  padding: 10px;
}

.bob {
  border-radius: 10%;
  max-width: 6%;
  max-height: 100px;
  padding: 7px;
}

/* Dropup Button */
.visubar{
  display: inline-block;
  background-color: #001f3f;
  color: #e7bc7b;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin: 0px
}
select {
  display: inline-block;
  background-color: #001f3f;
  color: #e7bc7b;
  margin: 0px;
  padding: 16px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
}
svg {
  display: block;
  margin: auto;
}
.timeline {
            font-family: 'Arial', sans-serif;
            margin: 40px;
        }
.axis path,
.axis line {
            fill: none;
            shape-rendering: crispEdges;
        }
.axis text {
            font-size: 14px;
        }
.event {
            fill: steelblue;
            stroke: steelblue;
            stroke-width: 1.5px;
        }
.tooltip {
            position: absolute;
            text-align: center;
            width: auto;
            height: auto;
            padding: 5px;
            font: 12px sans-serif;
            background: lightsteelblue;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
        }
 #tooltip {
            position: absolute;
            opacity: 0;
            background: #f9f9f9;
            border: 1px solid #ede8f5;
            padding: 5px;
            pointer-events: none;
        }
.handle {
            fill: #3d52a0;
            stroke: #000;
            stroke-width: 1.25px ;
            cursor: pointer;
        }
.track {
            stroke: #000;
            stroke-width: 6px;
            stroke-linecap: round;
        }
.track-inset {
            stroke: #ede8f5;
            stroke-width: 4px;
            stroke-linecap: round;
        }
.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}
.event-bar {
    position: relative;
}

.event-bar::before,
.event-bar::after {
    content: '';
    position: absolute;
    width: 4px; /* Adjust the width as needed */
    height: 4px; /* Adjust the height as needed */
    background-color: #3d52a0; /* Same color as the bar */
    border-radius: 50%; /* Makes it a circle, use 0 for a square (i.e., small trait) */
}

.event-bar::before {
    left: 0; /* Position at the start of the bar */
    top: 50%;
    transform: translateY(-50%);
}

.event-bar::after {
    right: 0; /* Position at the end of the bar */
    top: 50%;
    transform: translateY(-50%);
}
.image.clicked {
            transform: scale(1.2);
            transition: transform 0.3s;
        }
.info-box {
            position: absolute;
            top: 20px;
            right: 20px;
            background: #adbbda;
            border: 1px solid #3d52a0;
            padding: 10px;
            display: none;
        }

#image-svg {
    position: absolute;
    top: 190px; /* Ajustez la position verticale selon vos besoins */
    left: 200px; /* Ajustez la position horizontale selon vos besoins */
    z-index: 1; /* Assurez-vous que le z-index est inférieur à celui de votre barre de menu */
    opacity: 1;
}

#cerclem-content {
    position: absolute;
    margin-right: 2px; /* Ajustez la marge gauche selon vos besoins */
    margin-top: 50px;
    transform: translate(-50%, -50%); /* Ajuster pour centrer */
    z-index: 10; /* Ajuster le z-index si nécessaire */
}
