<!doctype html>
<html lang="en">

<head>
    <title>Flores|{{sous_titre}}</title>
    {% include "partials/css.html" %}
    {% block css %}{%endblock%}
    <script src="https://d3js.org/d3.v7.min.js"></script> 
</head>
<body>
    {%include "partials/sidebar.html"%}
    <h1>Flores {{sous_titre}} </h1>
    <nav class="navbar navbar-expand-lg  fixed-top navbar-light">
        <div align="right">{% include "partials/formulaires/recherche_rapide.html" %}</div>
    </nav>
    {%block body%}{%endblock%}      
</body>
