<div class="sidebar">
    <div class="sidenav">
        <img src="{{url_for('static', filename='img/logo/file-DmhjTCkFpbgBN09Hr98s6OHc')}}" alt="Diagramme">
        <ul>
            <div class="link">
                <li><a href="{{url_for('accueil')}}">Accueil</a></li>
                <li><a href="{{url_for('manuscrit')}}">Manuscrit</a></li>
                <li><a href="{{url_for('diagramm',page=1)}}">Diagramme</a></li>
                <li><a href="{{url_for('visualisation')}}">Visualisation</a></li>
                <li><a href="{{url_for('recherche_rapide')}}">Recherche</a></li>
            </div>
        </ul>
      </div>
</div>